/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.colPur{
    color: rgba(185,20,80,255);
}
/* Container */
#container{
    height: 100vh;
    background-color: rgba(185,20,80,255);
    padding: 1rem 0;
}

#container > div:first-child{
    height: 50%;
    display: flex;
    justify-content: center;
}

.centerContainer{
    height: 100%;
    width: 80%;
}

.centerContainer > div:first-child{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.centerContainer > div:last-child{
    height: 80%;
}

.contentContainer{
    height: 100%;
    background-color: white;
}

#riga2{
    height: 50%;
    display: none;
    justify-content: center;
}
/* Riga 1 */
#contentContainer1{
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px black;
}

#form > div{
    height: 100%;
    width: calc(100% / 3);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.inp{
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(185,20,80,255);
    border-radius: 0.3rem;
}

#calCanContainer{
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 100%;
}

.btn{
    padding: 0.5rem;
    border: 1px solid rgba(132,132,132,255);
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: rgba(204,205,205,255);
}

#form{
    display: flex;
    height: 100%;
}

#calCanContainer > div{
    width: 50%;
}

.btn:first-of-type{
    display: inline-block;
}

#calCanContainer > div:first-child{
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

#calCanContainer > div:last-child{
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
}
/* Riga 2 */
#contentContainer2 > div:first-child{
    height: 20%;
    display: flex;
    align-items: center;
}

#contentContainer2 > div:last-child{
    height: 80%;
}

#contentContainer2{
    padding: 1rem;
}

#subContainer > div:nth-child(1),
#subContainer > div:nth-child(2){
    height: 100%;
    width: 25%;
    padding: 1rem;
    position: relative;
}

#subContainer > div:nth-child(3),
#subContainer > div:nth-child(4),
#subContainer > div:nth-child(5){
    height: 100%;
    width: calc(50% / 3);
    padding: 1rem;
    position: relative;
}

#subContainer{
    display: flex;
    border-top: 1px solid rgba(132,132,132,255);
    border-bottom: 1px solid rgba(132,132,132,255);
}

.info{
    position: absolute;
    bottom: 1rem;
}

#subContainer > div:nth-child(1){
    background-color: rgba(132,132,132,255);
}

#nomCogOut{
    word-break: break-all;
}
/* Errore */
#errore{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#errore > div{
    width: 80%;
    font-size: 2rem;
    color: white;
}